<div class="footer">
  <footer>
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-sm-4 col-md-3 item">
                  <h3>Servicios</h3>
                  <ul>
                      <li><a href="/suplementos">Sumplementos</a></li>
                      <li><a>476116514</a></li>
                  </ul>
              </div>
              <div class="col-sm-4 col-md-3 item">
                  <h3>Sobre nosotros</h3>
                  <ul>
                      <li><a>Gimnasio 24 horas</a></li>
                      <li><a>Equipo nuevo</a></li>
                      <li><a>Promociones</a></li>
                  </ul>
              </div>
              <div class="col-sm-4 col-md-3 item">
                  <h3>Informacion</h3>
                  <ul>
                      <li><a>Costos</a></li>
                      <li><a>San francisco del Rincon Guanajuato</a></li>
                  </ul>
              </div>
              <div class="col-lg-3 item red">
                <a href="#">
                  <img src="/assets/images/facebook.png">
                </a>
                <a href="#"><img src="/assets/images/instagram.png"></a>
                <a href="#">
                  <img src="/assets/images/twitter.png">
                </a>
                  <p class="copyright">Marco's GYM © 2022</p>
              </div>
          </div>
      </div>
  </footer>
</div>
