<div>
  <app-spinner>

  </app-spinner>
  <table mat-table [dataSource]="posts" class="mat-elevation-z8" #tabla1>
    <ng-container matColumnDef="imagen">
      <th mat-header-cell *matHeaderCellDef> FOTO </th>
      <td mat-cell *matCellDef="let element">
        <img class="image" [src]="element.imagePath" [alt]="element.imagePath">

      </td>

    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
      <td mat-cell *matCellDef="let element">
        {{element.nombre}} </td>

    </ng-container>

    <ng-container matColumnDef="suscripcion">
      <th mat-header-cell *matHeaderCellDef> SUSCRIPCION </th>
      <td mat-cell *matCellDef="let element"> {{element.suscripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> DIRECCION </th>
      <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef> FECHA INICIO </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaFin">
      <th mat-header-cell *matHeaderCellDef> FECHA FIN </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaFin}}


      </td>

    </ng-container>

    <ng-container matColumnDef="manipulacion" style="margin-left: 1000px;">
      <th mat-header-cell *matHeaderCellDef> MANIPULACION </th>
      <td mat-cell *matCellDef="let element">
        <a mat-button color="primary" [routerLink]="['/edit', element.id]">
          <i class="fas fa-edit" style="color:  mediumblue;"></i>
        </a>
        <button mat-button color="primary" (click)="options(element.id)">
          <i class="fas fa-trash" style="color: red;"></i>
        </button>
        <button mat-button color="primary" [routerLink]="['/ticket', element.id]">
          <i class="fas fa-file-pdf" style="color: red;"></i>
        </button>


      </td>

    </ng-container>
    <ng-container matColumnDef="QR">
      <th mat-header-cell *matHeaderCellDef> QR </th>
      <td mat-cell *matCellDef="let element">
        <ngx-qrcode  [elementType]="tipoElemento" [value]="element.id"> </ngx-qrcode>

      </td>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
