<mat-card class="card">
  <img mat-card-image src="/assets/images/gym1.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p class="text">
      Contamos con maquinas para hacer cardio eficaz para perder peso,
      mejorar tu circulación cardiovascular, reducir los niveles de celulitis y
      retención de líquidos en tu cuerpo.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="basic" class="button">INCRIBIRSE YA</button>
  </mat-card-actions>
</mat-card>

<mat-card class="card2" >

  <img mat-card-image src="/assets/images/gym2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p class="text">
      Contamos con maquinas que fortalecer los brazos
      haciendo una variedad de movimientos por ejemplo en el press de banca.
      Sin embargo, también contamos para trabajar los tríceps o fondos que logran exigirle un gran
      esfuerzo a esta zona del cuerpo.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="basic" class="button">INCRIBIRSE YA</button>
  </mat-card-actions>
</mat-card>

<mat-card class="card3" >

  <img mat-card-image src="/assets/images/gym3.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p class="text">
      Contamos con salon para hacer yoga siendo asi la
      la unión del espíritu, la mente y el cuerpo,
      Esta filosofía de vida enseña que, a través de la meditación, la practica física
      y la respiración.

    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="basic" class="button">INCRIBIRSE YA</button>
  </mat-card-actions>
</mat-card>

