  <div class="sidenav">
    <div class="logo">
      <a href="/" class="simple-text logo-mini">
        <div class="logo-img">
          <img src="./assets/images/logo-M.png">
        </div>

      </a>

      <a href="/" class="simple-text logo-normal">
        Marco
      </a>

    </div>

    <ul class="nav" >


      <li><a routerLink="/create" (click)="inputSideNav.toggle()"><i class="fas fa-address-card" ></i>REGISTRAR USUARIO</a></li>
      <li><a routerLink="/post-table" (click)="inputSideNav.toggle()"><i class="fas fa-users"></i>USUARIOS</a></li>
      <li><a routerLink="/view-qr" (click)="inputSideNav.toggle()"><i class="fas fa-qrcode"></i>QR</a></li>





    </ul>
  </div>
