<nav class="navbar navbar-expand-lg nav-dark bg-dark">
  <a class="sidenav-button"><i class="fas fa-bars" aria-hidden="true" (click)="inputSideNav.toggle()"></i></a>
  <a class="navbar-brand">Menu</a>

  <nav class="menu">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="/informacionGym">Nosotros</a></li>
      <li><a href="/suplementos">Suplementos</a></li>
      <li><a href="/entrenamiento">Entrenamiento</a></li>
      <li class="usuario">
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <img src="/assets/images/LOGO-GYM_.png" alt="" style="border-radius: 100px; width: 70px; margin-left: 10px;">
          </div>
        </div>
      </div>
    </li>
    </ul>
  </nav>



</nav>

