<div class="infoGym">
  <img src="/assets/images/ingym.png" class="img">
  <div class="lugar">
    <h1 style="margin-left: 250px;">Lugar</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29776.09314164787!2d-101.74332758437507!3d21.11210200000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbdd4d22874cb%3A0x2f1f41e39a9fee93!2s%F0%9F%92%AA%F0%9F%8F%BCGimnasio%20Smart%20Fit%20-%20Torres%20Landa!5e0!3m2!1ses-419!2smx!4v1670220305910!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div style="margin-left: 30px;">
  <h1 style="margin-top: 20px;">Costos</h1>
  <ul><li><h2>120 SEMANAL</h2></li></ul>
  <ul><li><h2>300 MENSUAL</h2></li></ul>
  <ul><li><h2>3200 ANUAL</h2></li></ul>
  <ul><li><h2>50 VISITA</h2></li></ul>
  <div style="height: 10px;">

  </div>
</div>
  </div>
</div>
